<app-header></app-header>
<div style="margin-top: -50px;margin-left: 50px;" class="basic-2">
  <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-7">
            <div class="image-container">
                <img class="img-fluid" src="assets/images/aboutpage.jpg" alt="alternative" style="height: 500px;margin-right: 150px;margin-top: 60px;" />
            </div> 
        </div> 
          <div class="col-lg-6 col-xl-5">
              <div class="text-container">
                  <div class="section-title">ABOUT US</div>
                  <h2>VoizFonica is a Mobile Network Operator and telephone company, established in the year 2010.</h2>
                  <p>We provides network access and
                    telecommunication services that help people and companies communicate in an easy, efficient and
                    environmentally friendly way.
                    VoizFonica business is very technology dependent as company acts as a network service provider (NSP) in
                    mobile.</p>
                  <a class="btn-outline-reg" href="#details">Details</a>
              </div> 
          </div> 
          
      </div>
  </div> 
</div> 
<div id="details" class="basic-1" >
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <div class="section-title">Safe & Secure</div>
                    <h2>VoizFonica business is very technology dependent as company acts as a network service provider (NSP) in mobile.</h2>
                    <p>
                        Safe & Secure
                        The company offer the means to facilitate communication between people, providing them with the most secure and state of the art technology in order for them to live better, and for them to achieve whatever they resolve.
                        
                        </p>
                    <a class="btn-solid-reg" href="/signin">Signin to Know more</a>
                </div> 
            </div> 
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/adminpageimage.png" alt="alternative" style="padding-left: 100px; padding-top: 70px;" />
                </div> 
            </div> 
        </div>
    </div> 
  </div>
<app-footer></app-footer>