
<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
    <div class="container">
  
      
      
      <a class="navbar-brand" onclick="history.back()">
        <img src="assets/images/logo_voizfonice_wo_bg.png" alt="..." height="40">
      </a> 
  
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
  </div>
  </nav>
            <section class="bg-light py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Dongle Plans</h1>
                        <p class="lead fw-normal text-muted mb-0">With our no hassle pricing plans</p>
                    </div>
                    <div class="row gx-5 justify-content-center" >
                       
                      
                                    
                    <div class="col-lg-6 col-xl-4">
                      <div class="card hvr-float">
                          <div class="card-body p-5">
                              <div class="small text-uppercase fw-bold text-muted">Base Plan</div>
                              <div class="mb-3">
                                  <span class="display-4 fw-bold">&#8377;399</span>
                                  <span class="text-muted">/ mo.</span>
                              </div>
                              <ul class="list-unstyled mb-4">
                                  <li class="mb-2">
                                      <i class="bi bi-check text-primary"></i>
                                      <strong> 200 GB</strong>
                                  </li>
                                  <li class="mb-2">
                                    <i class="bi bi-check text-success"></i>
                                     50 MB/sec
                                </li>
                                  
                                  <li class="mb-2">
                                      <i class="bi bi-check text-success"></i>
                                      Spotify Monthly <br>Subscription
                                  </li>
                                  
                              </ul>
                              <div class="d-grid"><a class="btn btn-outline-primary" href="/payment">Choose plan</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-xl-4">
                    <div class="card hvr-float">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Base Plan</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">&#8377;499</span>
                                <span class="text-muted">/ mo.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong> 300 GB </strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                   75 MB/Sec
                                </li>
                                
                                
                                <li class="mb-2">
                                    <i class="bi bi-check text-success"></i>
                                    Amazon Monthly<br>Subscription
                                </li>
                                
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary" href="/payment">Choose plan</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                  <div class="card hvr-float">
                      <div class="card-body p-5">
                          <div class="small text-uppercase fw-bold text-muted">Base Plan</div>
                          <div class="mb-3">
                              <span class="display-4 fw-bold">&#8377;799</span>
                              <span class="text-muted">/ mo.</span>
                          </div>
                          <ul class="list-unstyled mb-4">
                              <li class="mb-2">
                                  <i class="bi bi-check text-primary"></i>
                                  <strong> 400 GB </strong>
                              </li>
                              <li class="mb-2">
                                  <i class="bi bi-check text-primary"></i>
                                  100 MB/Sec
                              </li>
                              <li class="mb-2">
                                  <i class="bi bi-check text-success"></i>
                                  Netflix Monthly <br>Subscription
                              </li>
                              
                          </ul>
                          <div class="d-grid"><a class="btn btn-outline-primary" href="/payment">Choose plan</a></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-xl-4">
                <div class="card hvr-float">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Premium Plan</div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">&#8377;999</span>
                            <span class="text-muted">/ mo.</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>500 GB </strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                250 MB/Sec
                            </li>
                           
                            <li class="mb-2">
                                <i class="bi bi-check text-success"></i>
                                Amazon Prime,<br>Netflix Subscription,<br>Disney+Hotstar
                            </li>
                            
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="/payment">Choose plan</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
              <div class="card hvr-float">
                  <div class="card-body p-5">
                      <div class="small text-uppercase fw-bold text-muted">Premium Plan</div>
                      <div class="mb-3">
                          <span class="display-4 fw-bold">&#8377;1499</span>
                          <span class="text-muted">/ mo.</span>
                      </div>
                      <ul class="list-unstyled mb-4">
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              <strong> 750 GB </strong>
                          </li>
                          <li class="mb-2">
                              <i class="bi bi-check text-primary"></i>
                              500 MB/Sec
                          </li>
                          <li class="mb-2">
                            <i class="bi bi-check text-success"></i>
                            Amazon Prime,<br>Netflix Subscription,<br>Disney+Hotstar
                        </li>
                          
                          
                      </ul>
                      <div class="d-grid"><a class="btn btn-outline-primary" href="/payment">Choose plan</a></div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="card hvr-float">
                <div class="card-body p-5">
                    <div class="small text-uppercase fw-bold text-muted">Premium Plan</div>
                    <div class="mb-3">
                        <span class="display-4 fw-bold">&#8377;2999</span>
                        <span class="text-muted">/ mo.</span>
                    </div>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            <strong>Unlimited Data</strong>
                        </li>
                        <li class="mb-2">
                            <i class="bi bi-check text-primary"></i>
                            upto 1 TB/Sec
                        </li>
                        
                        <li class="mb-2">
                            <i class="bi bi-check text-success"></i>
                            Amazon Prime,<br>Netflix Subscription,<br>Disney+Hotstar
                        </li>
                        
                    </ul>
                    <div class="d-grid"><a class="btn btn-outline-primary" href="/payment">Choose plan</a></div>
                </div>
            </div>
        </div>
                    
                    </div>
                </div>
            </section>
        
        
        <app-footer></app-footer>
            
