<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <header id="header" class="header" style="margin-top: -80px;">

    
        <div class="container">
      
            <div class="row">
      
                <div class="col-lg-6 col-xl-5">
      
                    <div class="text-container" style="margin-top: -120px;margin-left: 50px;">
      
                        <h1 class="h1-large">Thrilled about VoizFonica benefits?</h1>
      
                        <p class="p-large">Get updated on ongoing offers, latest products, and more.</p>
      
                        <a class="btn-solid-lg" href="#services">Offered services</a>
      
                    </div>
      
                </div>
      
                <div class="col-lg-6 col-xl-7">
      
                    <div class="image-container" style="margin-top:-190px">
                        <img class="img-fluid" src="assets/images/details-2.png" alt="alternative" />
      
                    </div>
      
                </div>
      
            </div>
      
        </div>
      
        
      
      </header>
    </div>
    <div class="carousel-item">
      <header id="header" class="header" style="margin-top: -80px;">

    
        <div class="container">
      
            <div class="row">
      
                <div class="col-lg-6 col-xl-5">
      
                    <div class="text-container" style="margin-top: -120px;margin-left: 50px;">
      
                        <h1 class="h1-large">Thrilled about VoizFonica benefits?</h1>
      
                        <p class="p-large">Get updated on ongoing offers, latest products, and more.</p>
      
                        <a class="btn-solid-lg" href="#services">Offered services</a>
      
                    </div>
      
                </div>
      
                <div class="col-lg-6 col-xl-7">
      
                    <div class="image-container" style="margin-top:-190px">
                        <img class="img-fluid" src="assets/images/details-1.png" alt="alternative" />
      
                    </div>
      
                </div>
      
            </div>
      
        </div>
      
        
      
      </header>
    </div>
    <div class="carousel-item">
      <header id="header" class="header" style="margin-top: -80px;">

    
        <div class="container">
      
            <div class="row">
      
                <div class="col-lg-6 col-xl-5">
      
                    <div class="text-container" style="margin-top: -120px;margin-left: 50px;">
      
                        <h1 class="h1-large">Thrilled about VoizFonica benefits?</h1>
      
                        <p class="p-large">Get updated on ongoing offers, latest products, and more.</p>
      
                        <a class="btn-solid-lg" href="#services">Offered services</a>
      
                    </div>
      
                </div>
      
                <div class="col-lg-6 col-xl-7">
      
                    <div class="image-container" style="margin-top:-190px">
                        <img class="img-fluid" src="assets/images/34.png" alt="alternative" />
      
                    </div>
      
                </div>
      
            </div>
      
        </div>
      
        
      
      </header>
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span style="color: black;" class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden" >Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>