<app-header></app-header>
<header id="header" class="header" style="margin-top: -80px;">

    
    <div class="container">
  
        <div class="row">
  
            <div class="col-lg-6 col-xl-5">
  
                <div class="text-container" style="margin-top: -120px;margin-left: 50px;">
  
                    <h1 class="h1-large">Thrilled about VoizFonica benefits?</h1>
  
                    <p class="p-large">Get updated on ongoing offers, latest products, and more.</p>
  
                    <a class="btn-solid-lg" href="#services">Offered services</a>
  
                </div>
  
            </div>
  
            <div class="col-lg-6 col-xl-7">
  
                <div class="image-container" style="margin-top:-190px">
                    <img class="img-fluid" src="assets/images/details-1.png" alt="alternative" />
  
                </div>
  
            </div>
  
        </div>
  
    </div>
  
    
  
  </header>
<div id="services" class="cards-1 bg-gray" style="margin-top: 0px;">
  <div class="container" style="margin-top: 10px;">
      <div class="row">
          <div class="col-lg-12">
              <h2>Explore our services</h2>
          </div> 
      </div>
      <div class="row">
          <div class="col-lg-12">
              
            
              <div class="card">
                  <div class="card-icon">
                      <span class="fas fa-sim-card"></span>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Prepaid</h5>
                      <p>Choose from India’s most affordable recharge plans on the fastest mobile network.</p>
                      <a class="read-more no-line" href="#details">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                  </div>
              </div>
          
              <div class="card">
                  <div class="card-icon red">
                      <span class="fas fa-sim-card"></span>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Postpaid</h5>
                      <p>Choose from India’s most affordable postpaid plans on the fastest mobile network.</p>
                      <a class="read-more no-line" href="#features">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                  </div>
              </div>
            
              <div class="card">
                  <div class="card-icon green">
                      <span class="fas fa-wifi"></span>
                  </div>
                  <div class="card-body">
                      <h5 class="card-title">Dongle</h5>
                      <p>Choose from India’s most affordable recharge plans on the fastest mobile network.</p>
                      <a class="read-more no-line" href="#dongle">Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                  </div>
              </div>
              

          </div>
      </div>
  </div>
</div> 

<div id="details" class="basic-1" >
  <div class="container" style="margin-top: -70px;">
      <div class="row">
          <div class="col-lg-6 col-xl-7">
              <div class="image-container" style="margin-top: 100px;">
                  <img class="img-fluid" src="assets/images/prepaidlanding.png" alt="alternative" />
              </div> 
          </div> 
          <div class="col-lg-6 col-xl-5" id="prepaid">
              <div class="text-container" style="margin-top: 180px;">
                  
                  <p style="font-size:40px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(2, 159, 231);">Prepaid</p>
                  <h2>Talk Unlimited</h2>
                  
                  <p>Our best plans,<br> Our best prices,<br>On the best network</p>
                  <a class="btn-solid-reg" href="/prepaidplans">View Prepaid Plans</a>
              </div> 
          </div> 
      </div>
  </div> 
</div>










<div id="features" class="accordion-1">
  <div class="container">
         
      <div class="row">
          <div class="col-xl-5">
              <div class="accordion" id="accordionExample" style="margin-top: 0px;">
                  
                <p style="font-size:50px;margin-bottom: 50px;margin-left: 0px;color: antiquewhite;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" >Postpaid</p>
                  <div class="accordion-item">
                      <div class="accordion-icon">
                          <span class="fas fa-wifi"></span>
                      </div> 
                      <div class="accordion-header" id="headingOne">
                          <button class="accordion-button"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              No Daily Data Limit
                          </button>
                      </div>
                      
                  </div>
                 

                 
                  <div class="accordion-item">
                      <div class="accordion-icon blue">
                          <span class="fas fa-plus"></span>
                      </div> 
                      <div class="accordion-header" id="headingTwo">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Free Add on Connection
                          </button>
                      </div>
                      
                  </div>
                 

                 
                  <div class="accordion-item">
                      <div class="accordion-icon purple">
                          <span class="fas fa-money-bill-alt"></span>
                      </div> 
                      <div class="accordion-header" id="headingThree">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              End of the month Bill
                          </button>
                      </div>
                      
                  </div>
                  <a style="margin-top: 30px;margin-left: 10px;" class="btn-solid-reg" href="/prepaidplans">View Postpaid Plans</a>
                 

              </div> 
          </div> 
          <div class="col-xl-7">
              <div class="image-container" style="margin-top: -50px;margin-left: 50px;">
                  <img class="img-fluid" src="assets/images/landing6.png" alt="alternative"/>
              </div> 
          </div> 
      </div>
  </div> 
</div> 
<div id="dongle" class="basic-1" >
    <div class="container" style="margin-top: 0px;">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="image-container"  style="margin-top: -30px;">
                    <img class="img-fluid" src="assets/images/wifilanding.png" alt="alternative" />
                </div> 
            </div> 
            <div class="col-lg-6 col-xl-5" id="prepaid">
                <div class="text-container" style="margin-top: 130px;">
                    
                    <p style="font-size:40px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: rgb(2, 159, 231);">Dongle</p>
                    <h2>Enjoy Office-like Internet with VoizFonica Dongle </h2>
                    <h3></h3>
                    <p>1 Gbps speed with unlimited data,<br>24x7 Promised Speed,<br> Wifi Calling</p>
                    <a class="btn-solid-reg" href="/prepaidplans">View Dongle Plans</a>
                </div> 
            </div> 
        </div>
    </div> 
  </div>




<div class="cards-2 bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="h2-heading">Customer testimonials</h2>
          </div> 
      </div>
      <div class="row">
          <div class="col-lg-12">

              
              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">VoizFonica is the one stop place to get good prepaid,postpaid and broadband.</p>
                      <div class="testimonial-author">Sethuraman</div>
                      <div class="occupation">Prepaid User</div>
                  </div>
                  <div class="gradient-floor red-to-blue"></div>
              </div>
            

              
              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">VoizFonica services , the best to have many services under one roof..!!</p>
                      <div class="testimonial-author">Srichandana</div>
                      <div class="occupation">Postpaid user</div>
                  </div>
                  <div class="gradient-floor blue-to-purple"></div>
              </div>
            

              
              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">Internet connectivity is very good and very faster for the business needs.</p>
                      <div class="testimonial-author">Vinay</div>
                      <div class="occupation">Dongle User</div>
                  </div>
                  <div class="gradient-floor purple-to-green"></div>
              </div>
            
              
              
              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">Good network coverage with great features and services.</p>
                      <div class="testimonial-author">Harvindh</div>
                      <div class="occupation">Prepaid User</div>
                  </div>
                  <div class="gradient-floor red-to-blue"></div>
              </div>
            

              
              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">Best Postpaid Service Provider with afforable plan and best service.</p>
                      <div class="testimonial-author">Sreenath</div>
                      <div class="occupation">Postpaid User</div>
                  </div>
                  <div class="gradient-floor blue-to-purple"></div>
              </div>
            

              
              <div class="card">
                  <img class="quotes" src="assets/images/quotes.svg" alt="alternative" />
                  <div class="card-body">
                      <p class="testimonial-text">Perfect reliable Broadband network for the office purposes.</p>
                      <div class="testimonial-author">Prasanna</div>
                      <div class="occupation">Dongle User</div>
                  </div>
                  <div class="gradient-floor purple-to-green"></div>
              </div>
            

          </div> 
      </div>
  </div> 
</div> 




<div class="slider-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h4>Trusted by over <span class="blue">7 Lakhs</span>  users</h4>
              <hr class="section-divider" />

           
              <div class="slider-container">
                  <div class="swiper-container image-slider">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide" >
                              <img class="img-fluid" src="assets/images/voizfonicalogoo.png" alt="alternative"/>
                          </div>
                          
                          <div class="swiper-slide">
                              <img class="img-fluid" src="assets/images/prepaidlogo.png" alt="alternative" />
                          </div>
                          <div class="swiper-slide">
                              <img class="img-fluid" src="assets/images/Postpaidlogo.png" alt="alternative" />
                          </div>
                          <div class="swiper-slide">
                              <img class="img-fluid" src="assets/images/donglelogo.png" alt="alternative" />
                          </div>
                          <div class="swiper-slide">
                            <img class="img-fluid" src="assets/images/voizfonicalogooo.png" alt="alternative" />
                        </div>
                          
                      </div>
                  </div> 
              </div> 
             

          </div> 
      </div>
  </div> 
</div> 
<app-footer></app-footer>








