<div class="copyright bg-gray" style="background-color: rgb(252,250,251);">
  <div class="container" >
      <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
              <ul class="list-unstyled li-space-lg p-small">
                  <li><a href="#">Article Details</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div> 
          

          <div  class="col-lg-3 col-md-12 col-sm-12">
              <p class="p-small statement">Copyright © <a href="https://therichpost.com/" target="_blank">VoizFonica</a></p>
          </div> 
      </div> 
   
</div>
</div>




