<app-header></app-header>
<div style="background-image:url(assets/images/header-background.jpg);">
<section style="margin-top: 70px;margin-left: 100px;margin-right: 100px;">
<title>Prepaid FAQ</title>


  <body>
    <div class="container">
      <div class="row">
        <div class="faq-wrapper">
          <div class="header">
            <h1>Prepaid FAQs</h1>
          </div>
          <div class="faq-inner">
            <div class="faq-item">
              <h3>
                Why VoizFonica prepaid plans?
                
              </h3>
              <div class="faq-body">
                VoizFonica offers mobile recharge plans that are economical and include tons of attractive benefits. The lowest prepaid plan starts at ₹ 199. Prepaid SIM recharge plans include unlimited talktime, daily data, offers like binge-all night, data rollover, up to 2GB backup data, there is so much to cater to different needs! Browse through all recharge plans on the website and choose a prepaid plan that suits you and avail all the amazing benefits.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                How can I get an online prepaid recharge using a debit/credit card or internet banking?
                
              </h3>
              <div class="faq-body">
                Once you select the desired recharge pack, it will redirect you to a payment gateway. Here you can select how you want to make your payment:
                Using Debit/Credit Card: Click on the Debit Card or Credit Card option, depending on how you want to make the payment. Enter your card details and pay securely to instantly recharge your mobile.
                Using Internet Banking: Click on the Internet Banking option. Find and select your bank. The page will redirect to your bank website. Enter your details and pay securely.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                How do I find information on various prepaid recharge packs?
                
              </h3>
              <div class="faq-body">
                All the prepaid packs ranging in a variety of prices as well as offers are available on our website for easy mobile recharge. You can view the different packs displayed on the online recharge page and choose as per your suitability.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                How to check the best prepaid plans available on my VoizFonica number?
                
              </h3>
              <div class="faq-body">
                On VoizFonica prepaid recharge plans page, you are prompted to enter your 10-digit mobile number. After you enter the prepaid number, based on your previous transactions or usage, a list of plans appears in the recommended tab. Here is where you can get the best prepaid plans offered for your mobile number. VoizFonica keeps renewing all the deals and discounts so that users enjoy the best recharge plans.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                Is prepaid better or postpaid?
                
              </h3>
              <div class="faq-body">
                A Prepaid connection is ideal for someone who does not have a lot of data usage during the day and is adaptable to using a limited amount of data. Although, Prepaid plans are usually cheaper than Postpaid plans, they also lack the additional benefits given in a Postpaid plan.
              </div>
            </div>
            <hr>
            
                <div class="faq-item">
                  <h3>
                    What are the benefits of the ₹259 plan?
                    
                  </h3>
                  <div class="faq-body">
                    VoizFonica’s newest plan comes with the following benefits:
                    Data - 1.5 GB/day
                    Unlimited Voice Calls
                    100 SMS/day
                    Validity - 1 Month (renews on the same date every month)
                  </div>
                </div>
                <hr>
          </div>
        </div>
      </div>
    </div>
    
    

    <script type="text/javascript">
      $(".faq-plus").on('click',function(){
        $(this).parent().parent().find('.faq-body').slideToggle();
      });
    </script>
  </body>

<app-footer></app-footer>

