<app-header></app-header>
<div style="background-image:url(assets/images/header-background.jpg);">
<section style="margin-top: 70px;margin-left: 100px;margin-right: 100px;">

    
  <title>Postpaid FAQ</title>

    
    
      
   


  <body>
    <div class="container">
      <div class="row">
        <div class="faq-wrapper">
          <div class="header">
            <h1>Postpaid FAQs</h1>
          </div>
          <div class="faq-inner">
            <div class="faq-item">
              <h3>
                What is Voizfonica Postpaid?

                
              </h3>
              <div class="faq-body">
                Postpaid is a telecom service plan where you are billed a predetermined amount at the end of the month of usage. The month is called the billing cycle and may not refer to a calendar month.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                What is the difference between prepaid and postpaid?

                
              </h3>
              <div class="faq-body">
                The main difference between prepaid and postpaid is that for the prepaid connection you recharge before the usage of the telecom services and in the postpaid connection you pay after the usage.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                Which is the best plan for me?

                
              </h3>
              <div class="faq-body">
                The answer to this depends upon the usage that you have. All Voizfonica Postpaid plans have unlimited calling, daily SMS and a bundle of data (that can be carried forward to next month up to 200GB if not used) You can choose the one that fits your needs.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                How can I upgrade my SIM to Voizfonica 4G SIM?

                
              </h3>
              <div class="faq-body">
                You can upgrade to Voizfonica 4G SIM easily by registering your details here to receive the new Voizfonica 4G SIM at your doorstep. The new SIM will be sent to you soon and will also have instructions on how to activate the SIM with your number.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                How can I activate my new 4G SIM? (existing Voizfonica user)

                
              </h3>
              <div class="faq-body">
                Here are the steps to activate your new 4G SIM:

 
SMS SIM <20-digit SIM card number of your new SIM> to 121
You will receive a confirmation SMS in your inbox. Reply with 1
Listen to the confirmation call you receive immediately and give your consent by replying with 1
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(".faq-plus").on('click',function(){
        $(this).parent().parent().find('.faq-body').slideToggle();
      });
    </script>
  </body>


</section>
</div>
<app-footer></app-footer>