<app-header></app-header>

<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                
                <h1 class="fw-bolder">Get in touch</h1>
                <p class="lead fw-normal text-muted mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="profileForm" data-sb-form-api-token="API_TOKEN" [formGroup]="profileForm" (ngSubmit)="reg()">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" placeholder="Enter your name..." formControlName="name" name="name" id="name" required/>
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <div *ngIf=" f['name'].touched">

                            <div *ngIf="f['name'].invalid"   class="text-danger">*Name is required</div>
                    
                            </div>&nbsp;
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" placeholder="name@example.com" formControlName="email" name="email" id="email" required/>
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        
                        <div *ngIf=" f['email'].touched">

                            <div *ngIf="f['email'].invalid" class="text-danger"><div>*Email is required</div></div>
                    
                        </div>&nbsp;
                       
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" placeholder="(123) 456-7890" formControlName="number" name="number" id="number" required/>
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <div *ngIf=" f['number'].touched">

                            <div *ngIf="f['number'].invalid"   class="text-danger">*Number is required</div>
                    
                            </div>&nbsp;
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" type="text" placeholder="Enter your message here..." style="height: 10rem" formControlName="message" name="message" id="message" required></textarea>
                            <label for="message">Message</label>
                            <div  class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <div *ngIf=" f['message'].touched" style="padding-top: 30px;">

                            <div *ngIf="f['message'].invalid"   class="text-danger" >*Message is required</div>
                    
                            </div>&nbsp;
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary" id="submitButton" type="submit" >Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Contact cards-->
        <div class="row gx-5 row-cols-2 row-cols-lg-4 py-5">
            
            
            <div class="col" style="margin-left: 30px;">
                
                <div class="h5">Support center</div>
                <p class="text-muted mb-0">Browse FAQ's and support articles to find solutions.</p>
            </div>
            <div class="col" style="margin-left: 120px;">
                
                <div class="h5">Mail us at</div>
                <p class="text-muted mb-0">support@voizfonica.com</p>
            </div>
            <div class="col" style="margin-left: 120px;">
                
                <div class="h5">24x7 Customer Service</div>
                <p class="text-muted mb-0">Call us at 1800-025-2525</p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
